@media only screen and (min-width: 47rem) {
    header {
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        column-gap: 20px;
        position: relative;
    }

    .parent {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 10px;
    }

    #spotlightCard {
        grid-column: 1 / 3;
    }

    .memberSpotlight {
        display: flex;
        justify-content:space-around;
    }

    .contact ul {
        list-style-type: none;
    }

    #findUs {
        grid-column: 1 / 3;
    }

    #find {
        margin-left: 45%;
    }

    .card {
        box-shadow: 1px 1px 10px black;
    }

    #menu {
        display: none;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    nav a {
        display: block;
    }

    h1 {
        background-color: rgb(229, 229, 229, 0.4);
        border-radius: 10px;
        font-size: 2rem;
        padding: 4px;
        margin: 1rem 2vw;
        display: inline-block;
        position: absolute;
        top: 1rem;
        right: 1.5rem;
    }

    #join {
        position: absolute;
        top: 5.8rem;
        right: 4rem;
        transform: translateX(0%);
    }
}