@media only screen and (min-width: 51rem) {
    .parent {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 10px;
    }

    .parent section {
        box-shadow: 1px 1px 10px black;
    }

    #menu {
        display:none;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    nav a {
        display: block;
    }
}