@media only screen and (min-width: 51rem) {

    .hero {
        margin: 1.5rem;
        position: relative;
    }

    .hero-label {
        top: 70px;
        left: 70px;
    }

    .hero-label p {
        font-size: 2rem;
    }

    .parent {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 10px;
    }

    .parent section {
        box-shadow: 1px 1px 10px black;
    }

    #menu {
        display:none;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    nav a {
        display: block;
    }

    .map {
        grid-column: 1 / 3;
    }
}